@model Pzpp.Data.Entities.Contact

@{
    ViewData["Title"] = "Dodaj kontakt";
}

<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Zapisz</button>
</form>