@using Microsoft.AspNetCore.Identity
@inject SignInManager<Pzpp.Data.Entities.User> SignInManager
@inject UserManager<Pzpp.Data.Entities.User>   UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="navbar-nav mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center"
           href="#" id="userDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle me-1"></i>
            @User.Identity?.Name
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <!-- domyślna strona log-out w Identity -->
                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="px-3 py-1">
                    <button type="submit" class="btn btn-link dropdown-item">Wyloguj</button>
                </form>
            </li>
        </ul>
    </li>
</ul>
}
else
{
<ul class="navbar-nav mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link"
           asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-box-arrow-in-right me-1"></i> Zaloguj
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           asp-area="Identity" asp-page="/Account/Register">
            <i class="bi bi-person-plus me-1"></i> Rejestracja
        </a>
    </li>
</ul>
}